.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch

# Continuous Claude cache (local only)
.claude/cache/
.claude/tsc-cache/85264f4e-aba0-46b8-8eda-19ee1d47633e/edited-files.log
.claude/tsc-cache/85264f4e-aba0-46b8-8eda-19ee1d47633e/affected-repos.txt
